<h1>DeadPeople#Search</h1>
<% for people in @deadpeople %>
<p>Last name: <%= people.last_name%> | First name: <%= people.first_name%> | Date of Birth: <%= people.dob%> | Date of Death: <%= people.dod%> </p>	
<% end %>
